
<form [formGroup]="forgetForm" class=" p-3 w-75 mx-auto shadow rounded-1 mt-5" *ngIf="step1" (ngSubmit)="forgetPass()">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="form-control" formControlName="email">
    <button class="btn ms-auto d-block mt-3 main-bg">Forget Password</button> 
    <p>{{userMsg}}</p>
</form>

<form [formGroup]="verifyCode" class=" p-3 w-75 mx-auto shadow rounded mt-5" *ngIf="step2" (ngSubmit)="getverifyCode()">
    <label for="verify">Verify Code</label>
    <input type="text" name="verify" id="verify" class="form-control" formControlName="resetCode">
    <button class="btn ms-auto d-block mt-3 main-bg">verify Code</button> 
    <p>{{userMsg}}</p>
</form>

<form [formGroup]="resetPass" class=" p-3 w-75 mx-auto shadow rounded mt-5" *ngIf="step3" (ngSubmit)="reset()">
    <label for="password">Reset Password</label>
    <input type="password" name="password" id="password" class="form-control" formControlName="newPassword">
    <button class="btn ms-auto d-block mt-3 main-bg">Reset Password</button> 
    <p>{{userMsg}}</p>
</form>